.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 2rem;
  padding: 1.5rem;
}

.card {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem;
  background: var(--lightgray);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.stats .card strong {
  font-size: 1.75rem;
}

.stats .card small {
  font-size: 1.5rem;
}
