:root {
  --text: #dde8fa;
  --body-bg: #010509;
  --container-bg: #090d11;
  --cards-bg: #971574;
  --icons: #e3354f;

  /* Get Data Button */
  --get-btn-bg: #7cafed;
  --get-btn-hover: #5f9ce3; /* Adjusted shade for hover */
  --get-btn-shadow: #5f9ce35f; /* Adjusted shade for shadow */

  /* Clear Data Button */
  --clear-btn-bg: #e3354e;
  --clear-btn-hover: #d42b44;
  --clear-btn-shadow: #d42b445f;

  /* Error Message */
  --error-bg: #fce4e4;
  --error-border: #fcc2c3;
  --error-color: #cc0033;
  --error-text-shadow: rgba(250, 250, 250, 0.3);
}
